body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

header .logo h1 {
    margin: 0;
    font-size: 24px;
}

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
}

header nav ul li a:hover {
    text-decoration: underline;
}

h1 {
    margin: 20px 0;
    font-size: 24px;
}

#product-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 colonnes */
    gap: 20px; /* Espace entre les produits */
    max-width: 1200px; /* Largeur maximale de la grille */
    margin: 0 auto; /* Centrer la grille */
    padding: 20px;
}

.product-card {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 16px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.product-card img {
    max-width: 100%;
    max-height: 150px;
    object-fit: cover;
    border-radius: 5px;
}

.product-card h2 {
    font-size: 18px;
    margin: 10px 0;
}

.product-card p {
    font-size: 14px;
    margin: 5px 0;
}

.pagination {
    margin: 20px 0;
    display: flex;
    justify-content: center;
}

.pagination a {
    margin: 0 5px;
    padding: 10px 15px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    text-decoration: none;
    color: #007bff;
    border-radius: 3px;
}

.pagination a:hover {
    background-color: #007bff;
    color: #fff;
}

.pagination button {
    padding: 10px 15px;
    margin: 0 10px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    cursor: pointer;
    border-radius: 3px;
}

.pagination button:hover {
    background-color: #007bff;
    color: #fff;
}
